<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <a href="/dataRange_v3">View Data Range</a>
        <a href="/egvs_v3">View EGVs</a>
        <a href="/events_v3">View Events</a>
        <a href="/calibrations_v3">View Calibrations</a>
        <a href="/devices_v3">View Devices</a>
        <a href="/alerts_v3">View Alerts</a>
    </ul>
</nav>
<div class="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>