{% extends "base_v3.html" %}

{% block title %}Events (v3){% endblock %}

{% block content %}
    <h1>Events (v3)</h1>
    <table border="1">
        <tr>
            <th>System Time</th>
            <th>Display Time</th>
            <th>Event Type</th>
            <th>Event SubType</th>
            <th>Value</th>
            <th>Unit</th>
            <th>Record ID</th>
            <th>Event Status</th>
            <th>Transmitter ID</th>
            <th>Transmitter Generation</th>
            <th>Display Device</th>
        </tr>
        {% for event in events_data %}
            <tr>
                <td>{{ event.systemTime }}</td>
                <td>{{ event.displayTime }}</td>
                <td>{{ event.eventType }}</td>
                <td>{{ event.eventSubType }}</td>
                <td>{{ event.value }}</td>
                <td>{{ event.unit }}</td>
                <td>{{ event.recordId }}</td>
                <td>{{ event.eventStatus }}</td>
                <td>{{ event.transmitterId }}</td>
                <td>{{ event.transmitterGeneration }}</td>
                <td>{{ event.displayDevice }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

